MEMORY {
HEADER: start = $0, size = $10, file = %O, fill = no;
ZP:  start = $0, size = $100, type = rw, define = no, fill = no;
STACK: start = $0100, size = $100, type = rw, define = no, fill = no;
RAM: start = $0200, size = $800, type = rw, define = no, fill = no;
ROM0_MEM: start = $8000, size = $4000, file = %O ,fill = yes, define = yes;
ROM1_MEM: start = $8000, size = $4000, file = %O ,fill = yes, define = yes;
ROM2_MEM: start = $8000, size = $4000, file = %O ,fill = yes, define = yes;
#prg bank 3
CHRROM0_LEVEL1_BG: start = $8000, size = $1000, file = %O, fill = yes;
CHRROM0_LEVEL1_SPR: start = $9000, size = $1000, file = %O, fill = yes;
CHRROM1_LEVEL2_BG: start = $A000, size = $1000, file = %O, fill = yes;
CHRROM1_LEVEL2_SPR: start = $B000, size = $1000, file = %O, fill = yes;
#prg bank 4
CHRROM2_FONT0_BG: start = $8000, size = $1000, file = %O, fill = yes;
CHRROM2_FONT0_SPR: start = $9000, size = $1000, file = %O, fill = yes;
CHRROM3_TITLE_BG: start = $A000, size = $1000, file = %O, fill = yes;
CHRROM3_TITLE_SPR: start = $B000, size = $1000, file = %O, fill = yes;
#prg bank 5
ROM5_MEM: start = $8000, size = $4000, file = %O ,fill = yes, define = yes;
#prg bank 6
ROM6_MEM: start = $8000, size = $4000, file = %O ,fill = yes, define = yes;
#prg bank 7
ROMFIXED: start = $c000, size = $3ffa, file = %O, fill = yes, define = yes;
ROMV: start = $fffa, size = $6, file = %O, fill = no, define = yes;
}

SEGMENTS {
HEADER:   load = HEADER,          type = ro               , optional = yes;
ZEROPAGE: load = ZP,              type = zp,                optional = yes;
STACK:    load = STACK,           type = bss,  define = yes, optional = yes;
BSS:      load = RAM,             type = bss,  define = yes, optional = yes;
ROM0:     load = ROM0_MEM,            type = ro,  define = yes, optional = yes;
ROM1:     load = ROM1_MEM,            type = ro,  define = yes, optional = yes;
ROM2:     load = ROM2_MEM,            type = ro,  define = yes, optional = yes;
CODE:     load = ROMFIXED,            type = ro,  define = yes, optional = yes;
VECTORS:  load = ROMV,            type = ro,  define = yes, optional = yes;
CHRROM0_LEVEL1_BG:   load = CHRROM0_LEVEL1_BG,          type = ro,  define = yes, optional = yes;
CHRROM0_LEVEL1_SPR:   load = CHRROM0_LEVEL1_SPR,          type = ro,  define = yes, optional = yes;
CHRROM1_LEVEL2_BG:   load = CHRROM1_LEVEL2_BG,          type = ro,  define = yes, optional = yes;
CHRROM1_LEVEL2_SPR:   load = CHRROM1_LEVEL2_SPR,          type = ro,  define = yes, optional = yes;
CHRROM2_FONT0_BG:   load = CHRROM2_FONT0_BG,    type = ro, define = yes, optional = yes;
CHRROM2_FONT0_SPR:  load = CHRROM2_FONT0_SPR,   type = ro, define = yes, optional = yes;
CHRROM3_TITLE_BG:   load = CHRROM3_TITLE_BG,    type = ro, define = yes, optional = yes;
CHRROM3_TITLE_SPR:  load = CHRROM3_TITLE_SPR,   type = ro, define = yes, optional = yes;
}

