#Config file for Nomolos

MEMORY
{
  #iNES header
  HEADER:   start = $0,    size = $10,   fill = no;  
  
  #ram
  ZP:       start = $0,    size = $100,  fill = no; 
  STACK:    start = $0100, size = $100,  fill = no;
  RAM:      start = $0200, size = $600,  fill = no;
  
  #prg-rom
  ROM0:     start = $8000, size = $4000, fill = yes; 
  ROM1:     start = $8000, size = $4000, fill = yes;
  ROM2:     start = $8000, size = $4000, fill = yes;
  ROM3_4K0: start = $8000, size = $1000, fill = yes;
  ROM3_4K1: start = $9000, size = $1000, fill = yes;
  ROM3_4K2: start = $A000, size = $1000, fill = yes;
  ROM3_4K3: start = $B000, size = $1000, fill = yes;
  ROM4_4K0: start = $8000, size = $1000, fill = yes;
  ROM4_4K1: start = $9000, size = $1000, fill = yes;
  ROM4_4K2: start = $A000, size = $1000, fill = yes;
  ROM4_4K3: start = $B000, size = $1000, fill = yes;
  ROM5:     start = $8000, size = $4000, fill = yes;
  ROM6:     start = $8000, size = $4000, fill = yes;
  
  #fixed prg-rom
  ROMFIXED: start = $c000, size = $3ffa, fill = yes;
  
  #vectors
  ROMV:     start = $fffa, size = $6,    fill = no;
}

SEGMENTS
{
  #header
  HEADER:   load = HEADER,   type = ro,  optional = yes;
  
  #ram
  ZEROPAGE: load = ZP,       type = zp,  optional = yes; 
  STACK:    load = STACK,    type = bss, optional = yes; 
  BSS:      load = RAM,      type = bss, optional = yes; 
  
  #prg-rom
  ROM0:     load = ROM0,     type = ro,  optional = yes; 
  ROM1:     load = ROM1,     type = ro,  optional = yes; 
  ROM2:     load = ROM2,     type = ro,  optional = yes; 
  ROM3_4K0: load = ROM3_4K0, type = ro,  optional = yes; 
  ROM3_4K1: load = ROM3_4K1, type = ro,  optional = yes; 
  ROM3_4K2: load = ROM3_4K2, type = ro,  optional = yes;  
  ROM3_4K3: load = ROM3_4K3, type = ro,  optional = yes; 
  ROM4_4K0: load = ROM4_4K0, type = ro,  optional = yes; 
  ROM4_4K1: load = ROM4_4K1, type = ro,  optional = yes; 
  ROM4_4K2: load = ROM4_4K2, type = ro,  optional = yes; 
  ROM4_4K3: load = ROM4_4K3, type = ro,  optional = yes; 

  #fixed prg-rom  
  CODE:     load = ROMFIXED, type = ro,  optional = yes; 
  
  #vectors
  VECTORS:  load = ROMV,     type = ro,  optional = yes;   
}

